# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd
df = pd.read_csv('supermarket_sales.csv')

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [4]:
sorted_df = df.sort_values(by='Unit price', ascending=False).head(5)
print(sorted_df)

      Invoice ID Branch       City Customer type Gender         Product line  \
983  148-41-7930      C  Naypyitaw        Normal   Male    Health and beauty
122  219-22-9386      B   Mandalay        Member   Male    Sports and travel
930  641-62-7288      B   Mandalay        Normal   Male   Home and lifestyle
494  437-53-3084      B   Mandalay        Normal   Male  Fashion accessories
283  667-92-0055      A     Yangon        Member   Male    Health and beauty

     Unit price  Quantity  Tax 5%    Total       Date   Time      Payment  \
983       99.96         7  34.986  734.706  1/23/2019  10:33         Cash
122       99.96         9  44.982  944.622   3/9/2019  17:26  Credit card
930       99.92         6  29.976  629.496  3/24/2019  13:33      Ewallet
494       99.89         2   9.989  209.769  2/26/2019  11:48      Ewallet
283       99.83         6  29.949  628.929   3/4/2019  15:02      Ewallet

       cogs  gross margin percentage  gross income  Rating
983  699.72                 4.761905        34.986     6.1
122  899.64                 4.761905        44.982     4.2
930  599.52                 4.761905        29.976     7.1
494  199.78                 4.761905         9.989     7.1
283  598.98                 4.761905        29.949     8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів `Electronic accessories`, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [9]:
electronics = df[df['Product line'] == 'Electronic accessories']
max_quantity = electronics['Quantity'].max()
max_quantity_rows = electronics[electronics['Quantity'] == max_quantity]
max_price = max_quantity_rows['Unit price'].max()
result_row = max_quantity_rows[max_quantity_rows['Unit price'] == max_price]
print(result_row)

      Invoice ID Branch    City Customer type Gender            Product line  \
105  704-48-3927      A  Yangon        Member   Male  Electronic accessories

     Unit price  Quantity  Tax 5%    Total       Date   Time  Payment   cogs  \
105       88.67        10  44.335  931.035  1/12/2019  14:50  Ewallet  886.7

     gross margin percentage  gross income  Rating Rating Category
105                 4.761905        44.335     7.3          Medium

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу (`Rating`): високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [13]:
def categorize_rating(rating):
    if rating >= 8:
        return 'High'
    elif 6 <= rating < 8:
        return 'Medium'
    else:
        return 'Low'
df['Rating Category'] = df['Rating'].apply(categorize_rating)

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [14]:
rating_percentages = df['Rating Category'].value_counts(normalize=True) * 100
print(rating_percentages)

Rating Category
Medium    35.6
High      32.9
Low       31.5
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [17]:
time = '11:28'

In [19]:
def get_hour(time_str):
    # Розділяємо рядок по двокрапці і беремо першу частину (години)
    hour_str = time_str.split(':')[0]
    return int(hour_str)
print(get_hour(time))

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [21]:
df['Hour'] = df['Time'].apply(get_hour)

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [27]:
hour_counts = df['Hour'].value_counts().sort_index()
print(hour_counts)

Hour
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: count, dtype: int64

In [ ]:
## найбільші к-ть покупок здійснюється перед початком та в кінці робочого дня, 
а також в час обідньої перерви. Це цілком логічно, адже у людей є вільний час та можливість відвідати магазин саме в цей час

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [29]:
average_total_by_city = df.groupby('City')['Total'].mean()
print(average_total_by_city)

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [30]:
stats_by_city = df.groupby('City')['Total'].agg(['count', 'mean', 'min', 'max'])
print(stats_by_city)

           count        mean      min      max
City
Mandalay     332  319.872506  18.6375  1022.49
Naypyitaw    328  337.099715  10.6785  1042.65
Yangon       340  312.354031  12.6945  1039.29

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [31]:
df.to_csv('supermarket_sales_enriched.csv', index=False)